{% for language in site.data.i18n %}
    {% if language[0] == page.lang %}
        {% assign language = language[1] %}
        {% break %}
    {% endif %}
{% endfor %}

{% assign t_follow_us = language.translation.follow_us %}

<div class="card border-primary mb-4">
	<div class="card-header bg-primary text-light"><i class="fa fa-eye fa-fw" aria-hidden="true"></i> {{ t_follow_us }}</div>
	<div class="card-body">
		<ul class="nav nav-pills flex-column">
			<li class="nav-item"><a class="nav-link" href="/{{ page.lang }}/atom.xml" title="News Atom Feed">
				<i class="fa fa-rss fa-fw" aria-hidden="true"></i> News Atom Feed</a>
			</li>
		</ul>
	</div>
</div>
