{% for language in site.data.i18n %}
    {% if language[0] == page.lang %}
        {% assign language = language[1] %}
        {% break %}
    {% endif %}
{% endfor %}

{% assign t_search = language.translation.search %}
{% assign t_search_website = language.translation.search_website %}

<div class="row my-4 justify-content-center">
	<div class="col-md-7">
		<p class="text-center">{{ t_search_website }}</p>
		<form class="form-search" role="search" action="/{{ page.lang }}/search/">
			<div class="input-group input-group-lg">
				<input type="text" class="form-control searchbox" name="q">
				<div class="input-group-append">
					<button class="btn btn-primary" type="submit">{{ t_search }}</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div id="searchresults" class="gcse-searchresults-only" data-enableHistory="true"></div>
